NODE_ENV=

HTTP_PORT=
HTTP_HOST=
HTTP_PREFIX=

### DATABASE
DB_TYPE=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_LOGGING=
DB_MIGRATIONS_TABLE_NAME=

#REDIS
REDIS_PASSWORD=

# COOKIES
COOKIES_SECRET=

# JWT
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=

#Swagger
ENABLE_SWAGGER=

#CLIENT
CORS_ORIGINS=
